<a href="/request"><img src="/images/twitter_sign_in.png" />

<div class="container">
  <form class='tweetform' action="/tweets" method="post">
    <input type="text" placeholder="username" name="username"/><br>
    <input type="text" placeholder="tweet" name="tweet"/><br>
    <input type="submit" value="TWEET!"/>
  </form>
</div>

<div id="load-image">
  <img src="loading_wheel.gif"/>
</div>

<div id="tweets">
</div>
