<div class="container">
  <h3> Tweets by <%= @user.username%>:</h3>

    <ul>
      <% @tweets.each do |tweet| %>
      <li><%= tweet.content %></li>
      <% end %>
    </ul>

<%= @timeline %>
</div>
